:root {
    --dark: rgb(45,38,39);
    --light: rgb(252, 248, 248);
    --accent: rgb(45,38,39);
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Header Style Start */
header {
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    position: sticky;
    flex-wrap: wrap;
    top: 0;
    background-image: url('../assets/images/wander.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
    z-index: 9999;
}

header a {
    text-decoration: none;
    color: var(--light);
}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

header ul li {
    padding: 20px; 
}

/* Hero/About Me Style Start */
.hero {
    display: flex;
    padding: 50px;
    background-image: url('../assets/images/wander.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
}

.hero img {
    width: 200px;
    height: 312px;
}

.hero h2 {
    background-color: rgba(241, 235, 234, 0.0);
    color: var(--light);
    padding-left: 20px;
    padding-top: 80px;
    font-size: xx-large;
}

/* About Me Section */
.about {
    display: flex;
    padding-top: 40px;
}

.about h2 {
    flex: 20%;
}

.about p {
    flex: 80%;
    padding-top: 80px;
}

/* Portfolio Section Style Start */
.portfolio {
    padding-top: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    color: var(--light);
}

.portfolio article {
    flex: 80%;
    background-color: var(--dark);
}

.portfolio h2 {
    flex: 15%;
    color: var(--light);
    background-color: var(--dark);
}

.images {
    padding-top: 70px;
}

.main-image {
    width: 600px;
    background-color: var(--dark);
}

.second-image {
    width: 400px;
    background-color: var(--dark);
}

.third-image {
    width: 400px;
    background-color: var(--dark);
}

.fourth-image {
    width: 400px;
    background-color: var(--dark);
}

.portfolio img {
    padding: 20px;
    background-color: var(--dark);
}

/* Contact Me Style Start */
.contact {
    padding-top: 40px;
    display: flex;
    background-color: var(--light);
}

.contact h2 {
    flex: 10%;
}

.contact ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    flex: 80%;
    vertical-align: text-top;
}

.contact ul li {
    padding: 20px;
    color: var(--dark);
    font-size: 18px;

}

.contact ul a {
    text-decoration: none;
    color: var(--dark);
}

.contact ul img {
    width: 40px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .contact ul {
      /* this will be applied on any screen smaller than 980px */
    flex-direction: column;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    header h1 a {
      /* this will be applied on any screen between 768px and 575px */
     
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
      .hero {
        flex-wrap: wrap;
      }

    .main-image {
        width: 90%;
     }
    .second-image {
        width: 70%;
    }

    .third-image {
        width: 70%;
    }

    .fourth-image {
        width: 70%;
    }
  }