:root {
    --primary-color: rgb(8, 8, 8);
    --secondart-color: rgb(15, 15, 15);
    --tertiary-color: rgb(14, 15, 15);
    --background: rgb(230, 238, 240);

}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--background);
    color: var(--primary-color)
}

/* Header Style Start */
header {
    text-align: center;
    color:aliceblue;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    position: sticky;
    flex-wrap: wrap;
    top: 0;

}

header a {
    text-decoration: none;
    color: var(--primary-color);

}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header ul li {
    padding: 20px; 
}

/* Hero Style Start */
.hero {
    display: flex;

}
.hero img {
    width: 200px;
}

/* About Me Style Start */
.about {
    padding-top: 80px;
    font-size: 18px;
    line-height: 1.5;
}

/* Portfolio Section Style Start */
.portfolio {
    padding-top: 80px;
    display: flex;
}

.portfolio article {
    flex: 90%;
}

.portfolio h2 {
    flex: 10%;
}

.images {
    flex: 90%;
    padding-top: 70px;
}

.main-image {
    width: 560px;
}

.portfolio img {
    padding: 20px;
}

/* Contact Me Style Start */
.contact {
    padding-top: 80px;
}

.contact ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.contact ul li {
    padding: 20px;
    color: var(--tertiary-color);
    font-size: 20px;
}

.contact ul a {
    text-decoration: none;
    color: var(--tertiary-color);
}

.contact ul img {
    width: 40px;
}
